<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuarderiaCiudadBolivar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".fragment_platos"
            android:exported="false" />
        <activity
            android:name=".list_platos"
            android:exported="false" />
        <activity
            android:name=".list_menu_comidas"
            android:exported="false" />
        <activity
            android:name=".fragment_menu_comidas"
            android:exported="false" />
        <activity
            android:name=".ActualizarAlergiaActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarIngredientes"
            android:exported="false" />
        <activity
            android:name=".EditarIngredientes"
            android:exported="false" />
        <activity
            android:name=".DetallesIngredientes"
            android:exported="false" />
        <activity
            android:name=".AgregarUsuarios"
            android:exported="false" />
        <activity
            android:name=".EditarUsuarios"
            android:exported="false" />
        <activity
            android:name=".DetallesUsuarios"
            android:exported="false" />
        <activity
            android:name=".recuperar_password_3"
            android:exported="false" />
        <activity
            android:name=".recuperar_password_1"
            android:exported="false" />
        <activity
            android:name=".recuperar_password_2"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false" />
        <activity
            android:name=".ProfesorLogin"
            android:exported="false" />
        <activity
            android:name=".AdministradorLogin"
            android:exported="false" />
        <activity
            android:name=".Login_menu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistorialChildrenActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".PagosActivity"
            android:exported="false" />
        <activity
            android:name=".CreditosActivity"
            android:exported="false" />
        <activity
            android:name=".InscripcionChildrenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_admin"
            android:exported="false" />
        <activity
            android:name=".MainActivity_usuario"
            android:exported="false" />
    </application>

</manifest>